.header-feature{
    width: 100%;
    height: 90vh;
}
.header-content-feature{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    align-items: center;
    max-width: 960px;
    padding: 12px;
}
.feature-items{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    width:100%;
    gap: 2rem;
    justify-content: space-evenly;

}
.features-left{
    width: 50%;
    
}
.features-left img {
 width: 100%;
 height: 100%;
}
.feautres-right{
    width: 50%;
}