.features{
    width: 10%;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features P.{
    align-items: center;
}

.features-content 
{
display: flex;
justify-content: center;
background-color:white;
}
.features-left{
    flex: 1;
    text-align:center;

}
.features-left img
{
    width:70%;
}
.features-right {
    flex: 1;
    width:50%;
}
@media screen and (max-width:600px){
    .features-content{
        flex-direction:column;
    }
}